 @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 body {
     display: flex;
     flex-direction: column;
     background-image: url(../img/Notebook\ Lines.png);
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;

 }

 .img-1 {
     display: flex;

 }

 .eye {
     width: 126px;
     height: 90px;
     margin-left: auto;
     transform: rotate(24);
     flex-shrink: 0;
 }

 main {
     margin-left: 10px;
 }

 .note-image {
     width: 100%;
     height: 100%;
     object-fit: cover;
     /* Garante que a imagem preencha o espaço mantendo a proporção */
 }

 .note-link {
     display: block;
     /* Defina uma largura e altura adequadas à imagem */
     width: 361;
         /* largura da imagem */

     height: 315;
         /* altura da imagem */
 }

 p {
     color: #000;
     text-align: center;
     font-family: Sticky Notes;
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     transform: rotate(342deg);
     position: relative;
     top: 230px;
     right: 40px;
 }


 .plane {
     margin-left: 249px;
     width: 110px;
     height: 71px;
     flex-shrink: 0;
 }

 .idea {
     width: 76px;
     height: 70px;
     transform: rotate(350deg);
     margin-left: 16px;
     flex-shrink: 0;
 }