*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../img/Notebook\ Lines.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#tela {
    position: relative;
    right: -24px;
    width: 364px;
    height: 750px;
    border: 1px solid;
}

footer {
    padding-left: 50px;
    padding-top: 10px;
}

.meu-botao-2{
    width: 200px;
    height: 100px;
}