*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../img/Notebook\ Lines.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 80px; /* Altura do footer */
}

#tela {
    position: relative;
    right: -24px;
    border: 1px solid;
}

.meu-botao-2 {
    width: 50px; /* Defina a largura desejada */
    height: 50px; /* Defina a altura desejada */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo do botão (no caso, a imagem). Isso garante que a imagem esteja alinhada no centro do botão em relação ao eixo horizontal.*/
    background-color: transparent;
}

.meu-botao-2 img {
    max-width: 100%; /* Garante que a imagem não ultrapasse os limites do botão */
    max-height: 100%; /* Garante que a imagem não ultrapasse os limites do botão */
}

.meu-botao-3 {
    width: 50px; /* Defina a largura desejada */
    height: 50px; /* Defina a altura desejada */
    background-image: url("../img/trash-alt.png");
    background-size: cover; /* A imagem cobrirá todo o espaço do botão */
    background-position: center; /* A imagem será centralizada no botão */
    border: 1px solid;
    border-radius: 10px;
}

.meu-botao-3 img {
    max-width: 100%; /* Garante que a imagem não ultrapasse os limites do botão */
    max-height: 100%; /* Garante que a imagem não ultrapasse os limites do botão */
    
}

footer {
    position: fixed;
    display: flex;
    gap: 20px;
    bottom: 0;
    width: 100%;
    background-color: #739ee2;
    padding: 10px;
    padding-top: 26.4px;
    margin-left: 25.1px;
    height: 50px; 
}

/* o primeiro uso do display: flex (na classe .meu-botao-2) garante que as imagens estejam centralizadas dentro dos botões, e o segundo uso (na classe footer) centraliza os botões dentro do footer horizontalmente e verticalmente.*/