*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../img/Notebook\ Lines.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 80px; /* Altura do footer */
}

#tela {
    position: relative;
    right: -24px;
    border: 1px solid;
}

.meu-botao-2{
    width: 200px;
    height: 100px;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: #739ee2;
    padding: 10px;
    padding-top: 26.4px;
    margin-left: 25.1px;
    height: 50px; 
}